body{
	background-image: url("../images/.jpg");
}

.btn{
	width: 30%;
	height: auto;
}

.card{
	background: rgba(0,0,0,0.4);
	color: white;
}

.card-text{
	font-size: 30px;
}



.infoBox{
	width: 100%;
	height: auto;
}


.jumbotron-fluid{
	font-size: 40px;
	text-align: center;
	background: rgba(0,0,0,0.4);
	color: white;
}
#p2name-display, #p1name-display, .infoDisplay{
	font-size: 35px;
}

.playerOne, .playerTwo, .vsBox{
	height: auto;
	width: 100%;
}
.chatBox{
	width: 50%;
}
.chat-area{
	height: 200px;
}


.p1Select,.p2Select{
	display: none;
	color: white;
}
.infoText, .vsText{
	display: none;
}

